<form class="container">
  <div class="ml-0 pb-3 row" id="search">
    <a id="img-wrapper" href="/">
      <img src="../../../assets/bloogle.png" width="92" height="30">
    </a>
    <div class="col-auto wrapper">
      <input [(ngModel)]="query" name="query">
      <button class="search-btn" aria-label="Bloogle Search" type="submit" (click)="search()">
        <div class="search-btn-sub-1">
          <span class="search-btn-sub-2">
            <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
              </path>
            </svg>
          </span>
        </div>
      </button>
    </div>
    <mat-select placeholder="Any time" [(ngModel)]="gte" name="gte" id="gte" (ngModelChange)="search($event)">
      <mat-option>
        Any time
      </mat-option>
      <mat-option [value]="ElasticDateRange.PAST_YEAR">
        Past year
      </mat-option>
      <mat-option [value]="ElasticDateRange.PAST_MONTH">
        Past month
      </mat-option>
      <mat-option [value]="ElasticDateRange.PAST_WEEK">
        Past week
      </mat-option>
    </mat-select>
  </div>
  <div *ngIf="showError; else noError">
    <div class="row justify-content-center mt-3">
      No results found for &nbsp;<strong>"{{query}}".</strong>
    </div>
  </div>
  <ng-template #noError>
    <div id="resultStats" class="mt-2">
      About {{queryResult?.numResults | number:'1.'}} results ({{queryResult?.time}} ms)
    </div>
    <div class="row">
      <mat-card class="col-xs-12 col-sm-12 m-4" *ngFor="let post of queryResult?.posts">
        <mat-card-header>
          <mat-card-title><a [href]="post.url" target="_blank">{{post.title}}</a></mat-card-title>
          <mat-card-subtitle><a id="url" [href]="post.url" target="_blank">{{post.url}}</a> </mat-card-subtitle>
          <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p [innerHTML]="post.content"></p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <app-paginator [numResults]="queryResult?.numResults" [resultsPerPage]="es.DEFAULT_NUM_PAGES"
          (pageClicked)="pageClicked($event)"></app-paginator>
      </div>
    </div>
  </ng-template>

</form>
