# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = bloogle_bot.settings
USER_AGENT = 'bloogle_bot' # TODO add email

# Politness
ROBOTSTXT_OBEY = True # Default
DOWNLOAD_DELAY = 1.0 # In seconds
RANDOMIZE_DOWNLOAD_DELAY = True # Default
CONCURRENT_REQUESTS_PER_DOMAIN = 8 # Default
CONCURRENT_REQUESTS = 16 # Default
AUTOTHROTTLE_ENABLED = True # Default

[deploy]
#url = http://localhost:6800/
project = bloogle_bot
